In [1]:
import pandas as pd

In [2]:
import requests

In [3]:

    
df=pd.read_csv(r'C:\Users\Hp\Desktop\priya\DataPipeline\Data_pipeline\data\source_data\Farming_Factors\Crops.csv')

In [8]:
df['State Name'].unique()

array(['Chhattisgarh', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana',
       'Karnataka', 'Tamil Nadu', 'Maharashtra', 'Gujarat', 'Rajasthan',
       'Punjab', 'Haryana', 'Uttar Pradesh', 'Uttarakhand', 'Assam',
       'Himachal Pradesh', 'Kerala', 'Orissa', 'West Bengal', 'Bihar',
       'Jharkhand'], dtype=object)

In [5]:
df_t = df[df['State Name'] == 'Tamil Nadu']

In [21]:
df_t[(df_t['Year'] == 2013) & (df_t['Dist Name'] == 'South Arcot / Cuddalore')]

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
667,84,2013,11,Tamil Nadu,South Arcot / Cuddalore,297.93,1362.57,4573.46,0.0,0.0,...,11659.17,18.2,9.3,510.99,46.33,18.13,64.46,0.0,0.13,0.58

In [6]:
df_t['Year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)